body {
    color: black;
    background-image: url(https://cms-test.alaska.edu/aidatest/images/bg2.jpg);
    background-size: cover;
}
.container.main {
    margin-top: 7rem;
    border: 1px solid rgba(34,36,38,.15);
    background: rgba(255, 255, 255, 0.5);
}
.ui.segment {
    -webkit-box-shadow: 0;
    box-shadow: none;
    border-radius: 0 !important;
    /* border: 1px solid rgba(34,36,38,.15);
    background: rgba(255, 255, 255, 0.5); */
    background: transparent;
    border: 0;

}

.negative {
  color: #db2828;
}

.positive {
  color: #21ba45;
}
/* banner */
.ui.fixed.menu {
  /* background: #005662; */
  background: #002d38;
}
.ui.header>.icon+.content {
    color: #ffffff;
}
.ui.header>.icon {
  font-size: 2.2em;
}

/*site header */
.site-header .column{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}
.ui.statistic>.label{
  text-align: left;
}
.ui.statistic>.value, .ui.statistics .statistic>.value {
    font-size: 3rem!important;
}

.ui .button {
    font-weight: 500;
    text-align: center;
    border-radius: 0 !important;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
.button.primary-nav {
  background-color: #66bb6a;
  margin-bottom: 1rem;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
}
.ui.labeled.icon.button a{
  color:#000000;
}

.ui.labeled.icon.button:hover{
      background-color: #bababa;
    }

.ui.form .field .ui.input {
      width: 25rem;
  }

/* mobile overwrites */
@media only screen
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
